In [11]:
import pandas as pd
import numpy as np

In [185]:
df_2022 = pd.read_csv("data/kaggle_survey_2022_responses.csv")

/var/folders/6v/12r4qnjx54zgmfy66mv7j0rr0000gn/T/ipykernel_28764/1897696131.py:1: DtypeWarning: Columns (0,208,225,255,257,260,270,271,277) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv("kaggle_survey_2022_responses.csv")

In [186]:
data_dict_2022 = df_2022.loc[0,:].to_dict()

In [187]:
def extract_mcq_questions(data_dict, q_string, descriptor_string):
    q_keys = list(filter(lambda x: q_string in x, list(data_dict.keys())))
    mcq_dict = {}
    for q_key in q_keys:
        mcq_dict[q_key] = descriptor_string + re.search('Selected Choice - (.+?)$', data_dict[q_key]).group(1).strip()
    return mcq_dict

In [195]:
q_descriptor_mapping_2022 = [( "Q6_", "MOOCPlatforms_"),( "Q7_", "IntroToDSPlatform_"),( "Q12_", "ProgLanguage_"),( "Q13_", "IDE_"),( "Q14_", "HostedNB_"),( "Q15_", "VizLib_"),( "Q17_", "MLFramework_"),( "Q18_", "MLAlgo_"),( "Q19_", "CVAlgo_"),( "Q20_", "NLPAlgo_"),( "Q21_", "DownloadPreTrainedWeights_"),( "Q31_", "CloudProviderUsed_"),( "Q33_", "CloudComputeUsed_"),( "Q34_", "CloudStorageUsed_"),( "Q35_", "DBUsed_"),( "Q36_", "BIToolUsed_"),( "Q37_", "MLaaS_"),( "Q38_", "AutoMLUsed_"),( "Q39_", "MLDeploymentToolsUsed_"),( "Q40_", "MLMonitoringToolUsed_"),( "Q41_", "ResponsibleAIToolUsed_"),( "Q42_", "HardwareUsed_"),( "Q44_", "DSContentMediaConsumed_")]

In [196]:
map_cols_2022 = {
    "Q2": "Age",
    "Q3": "Gender",
    "Q4": "Country",
    "Q5": "IsStudent",
    "Q8": "HighestEducation",
    "Q9": "HasPublishedResearch",
    "Q10_1": "TheoreticalResearch",
    "Q10_2": "AppliedResearch",
    "Q10_3": "NonMLResearch",
    "Q11": "Programming Experience",
    "Q16": "MLExposure",
    "Q22": "MLReposUsed",
    "Q23": "CurrentTitle",
    "Q24": "Industry",
    "Q25": "CompanySize",
    "Q26": "DSTeamSize",
    "Q27": "IsMLUsedAtWork",
    "Q29": "AnnualComp(USD)",
    "Q30": "InvestmentInML(USD)",
    "Q32": "BestCloudProvider",
    "Q43": "TPUUsageFrequency"
}
mcq_columns = []
for q,d in q_descriptor_mapping_2022:
    q_d_mapping = extract_mcq_questions(data_dict_2022, q, d)
    map_cols_2022 = map_cols_2022 | q_d_mapping
    mcq_columns.extend(list(q_d_mapping.values()))

In [190]:
df_2022 = df_2022.rename(map_cols, axis=1)
df_2022 = df_2022.loc[1:,:]

In [191]:
for mcq_column in mcq_columns:
    df_2022.loc[~df_2022[mcq_column].isin([np.nan]), mcq_column] = 1
    df_2022.loc[df_2022[mcq_column].isin([np.nan]), mcq_column] = 0

In [224]:
df_2021 = pd.read_csv("data/kaggle_survey_2021_responses.csv")

/var/folders/6v/12r4qnjx54zgmfy66mv7j0rr0000gn/T/ipykernel_28764/340828643.py:1: DtypeWarning: Columns (0,195,201,285,286,287,288,289,290,291,292) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2021 = pd.read_csv("kaggle_survey_2021_responses.csv")

In [225]:
data_dict_2021 = df_2021.loc[0,:].to_dict()

In [226]:
q_descriptor_mapping_2021 = [( "40_", "MOOCPlatforms_"),( "Q7_", "ProgLanguage_"),( "Q9_", "IDE_"),( "Q10_", "HostedNB_"),( "Q14_", "VizLib_"),( "Q16_", "MLFramework_"),( "Q17_", "MLAlgo_"),( "Q18_", "CVAlgo_"),( "Q19_", "NLPAlgo_"),( "Q27_A_", "CloudProviderUsed_"),( "Q29_A_", "CloudComputeUsed_"),( "Q30_A_", "CloudStorageUsed_"),( "Q32_A_", "DBUsed_"),( "Q34_A_", "BIToolUsed_"),( "Q31_A_", "MLaaS_"),( "Q37_A_", "AutoMLUsed_"),( "Q36_A_", "AutoMLFrameworksUsed_"),( "Q39_", "PublishDSMedium_"),( "Q38_A_", "MLMonitoringToolUsed_"),( "Q12_", "HardwareUsed_"),( "Q42_", "DSContentMediaConsumed_")]

In [227]:
map_cols_2021 = {
    "Time from Start to Finish (seconds)": "Duration (in seconds)",
    "Q1": "Age",
    "Q2": "Gender",
    "Q3": "Country",
#     "Q5": "IsStudent",
    "Q4": "HighestEducation",
#     "Q9": "HasPublishedResearch",
#     "Q10_1": "TheoreticalResearch",
#     "Q10_2": "AppliedResearch",
#     "Q10_3": "NonMLResearch",
    "Q6": "Programming Experience",
    "Q15": "MLExposure",
#     "Q22": "MLReposUsed",
    "Q5": "CurrentTitle",
    "Q20": "Industry",
    "Q21": "CompanySize",
    "Q22": "DSTeamSize",
    "Q23": "IsMLUsedAtWork",
    "Q25": "AnnualComp(USD)",
    "Q26": "InvestmentInML(USD)",
    "Q28": "BestCloudProvider",
    "Q13": "TPUUsageFrequency",
    "Q33": "MostUsedBigDataProduct",
    "Q35": "MostUsedBITool"
}
mcq_columns = []
for q,d in q_descriptor_mapping_2021:
    q_d_mapping = extract_mcq_questions(data_dict_2021, q, d)
    map_cols_2021 = map_cols_2021 | q_d_mapping
    mcq_columns.extend(list(q_d_mapping.values()))

In [228]:
df_2021 = df_2021.rename(map_cols_2021, axis=1)

In [229]:
df_2021

,Duration (in seconds),Age,Gender,Country,HighestEducation,CurrentTitle,Programming Experience,ProgLanguage_Python,ProgLanguage_R,ProgLanguage_SQL,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,What is the highest level of formal education ...,Select the title most similar to your current ...,For how many years have you been writing code ...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,What programming languages do you use on a reg...,...,"In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor...","In the next 2 years, do you hope to become mor..."
1,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,R,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,NaN,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
3,924,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,NaN,NaN,...,NaN,NaN,TensorBoard,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25969,1756,30-34,Man,Egypt,Bachelor’s degree,Data Analyst,1-3 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,253,22-24,Man,China,Master’s degree,Student,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,494,50-54,Man,Sweden,Doctoral degree,Research Scientist,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
25972,277,45-49,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,255,18-21,Man,India,Bachelor’s degree,Business Analyst,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [230]:
df_2021 = df_2021.loc[1:,:]

In [231]:
for mcq_column in mcq_columns:
    df_2021.loc[~df_2021[mcq_column].isin([np.nan]), mcq_column] = 1
    df_2021.loc[df_2021[mcq_column].isin([np.nan]), mcq_column] = 0

/var/folders/6v/12r4qnjx54zgmfy66mv7j0rr0000gn/T/ipykernel_28764/2888068137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021.loc[~df_2021[mcq_column].isin([np.nan]), mcq_column] = 1
/var/folders/6v/12r4qnjx54zgmfy66mv7j0rr0000gn/T/ipykernel_28764/2888068137.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021.loc[df_2021[mcq_column].isin([np.nan]), mcq_column] = 0

In [232]:
df_2021.loc[df_2021["CurrentTitle"]=="Student","IsStudent"] = "Yes"
df_2021.loc[df_2021["IsStudent"].isna(), "IsStudent"] = "No"

/var/folders/6v/12r4qnjx54zgmfy66mv7j0rr0000gn/T/ipykernel_28764/1128806736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021.loc[df_2021["CurrentTitle"]=="Student","IsStudent"] = "Yes"

In [233]:
df_2022["SurveyYear"] = 2022
df_2021["SurveyYear"] = 2021

/var/folders/6v/12r4qnjx54zgmfy66mv7j0rr0000gn/T/ipykernel_28764/3545890937.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021["SurveyYear"] = 2021

In [234]:
data = pd.concat([df_2022, df_2021])

In [235]:
def categorize_education(education:str) -> str:
    """Assigns more general categories to education levels.
    """
    if education in [
        "No formal education past high school", 
        "Some college/university study without earning a bachelor’s degree"
    ]:
        return "Lower than Bachelor"
    
    if education == "Bachelor’s degree":
        return "Bachelor"
    
    if education == "Master’s degree":
        return "Master"
    
    if education in ["Doctoral degree", "Professional doctorate"]:
        return "Higher than Master"
    
    return "Other"


def assign_label(service:str):
    """It returns the company name to which the product belongs. 
    It takes care only of the 3 big techs: Google, Microsoft, Amazon.
    """
    
    if "google" in service.lower():
        return "Google"
    
    if "aws" in service.lower() or "amazon" in service.lower():
        return "Amazon"
    
    if "azure" in service.lower() or "microsoft" in service.lower():
        return "Microsoft"
    
    if "ibm" in service.lower():
        return "IBM"

    return "Other"

In [236]:
data["HighestEducation"] = data["HighestEducation"].apply(lambda x: categorize_education(x))

In [237]:
data

,Duration (in seconds),Age,Gender,Country,IsStudent,MOOCPlatforms_Coursera,MOOCPlatforms_edX,MOOCPlatforms_Kaggle Learn Courses,MOOCPlatforms_DataCamp,MOOCPlatforms_Fast.ai,...,Q38_B_Part_3,Q38_B_Part_4,Q38_B_Part_5,Q38_B_Part_6,Q38_B_Part_7,Q38_B_Part_8,Q38_B_Part_9,Q38_B_Part_10,Q38_B_Part_11,Q38_B_OTHER
1,121,30-34,Man,India,No,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,462,30-34,Man,Algeria,No,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,293,18-21,Man,Egypt,Yes,1,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,851,55-59,Man,France,No,1,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,232,45-49,Man,India,Yes,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25969,1756,30-34,Man,Egypt,No,1,0,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,253,22-24,Man,China,Yes,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25971,494,50-54,Man,Sweden,No,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN
25972,277,45-49,Man,United States of America,No,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25973,255,18-21,Man,India,No,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN

In [238]:
data.to_csv("data/KaggleSurveyData_2021+2022.csv")